@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
   font-family: "Glacial Indifference";
   src: url("./assets/fonts/GlacialIndifference-Regular.otf") format("opentype");
   font-weight: normal;
   font-style: normal;
}
* {
   box-sizing: border-box;
   margin: 0 auto;
   padding: 0;
}

body {
   font-family: "Glacial Indifference", sans-serif;
}
